.h1-color {
    color: #f2f2f2;
}

.size {
    font-size: 25px;
    color: #b3b3b3;
    margin-bottom: 10px;
}

.size:hover, footer a:focus{
    color: #fff;
}

.icons {
    height: 1em;
}

.quotes {
    color: #666666;
}

.fontSmall {
    font-size: 90%;
}

.fontOswald {
    font-family: 'Oswald', sans-serif;
}

.color2 {
    color: #262626;
}