body {
    margin: 0;
    padding: 0; 
    background-image: url(../images/vin.png);
}

h1 {
    font-size: 30px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding:20px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    margin: 0;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid lightgrey;
    padding: 0;
    font-size: 24px;
}

h3 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid lightgrey;
    font-size: 30px;
}

.bg-light {
    height: 76px;
}

p {
    color: #777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 30px;
    margin-bottom: 0;
}

footer {
    margin-top: 30px;
    border-top: 4px solid #4aaaa5; 
    line-height: 30px;
    text-align: center;
    background-color: #666666; 
}


html,body {
    height:100%;
    margin: 0;
}

.wrapper {
    min-height:100%;
    position: relative;
}

.row a {
    color: #777777;
}

.copyright {
    color: #CFCFCF;
}

button[type=submit] {
    background-color: #4aaaa5;
}

.image{
    height: 25%;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.gameTag{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    width: 100%;
}
.mainContent{
    width: 60%;
}
.profileImg{
    height: 270px;
    width: 200px;
    border: 1px solid  #E8E8E8;
}